{{ define "main" }}
<div class="row h-100">
    <div class="col-3 navbar-light bg-light">
        {{ partial "sidebar.html" . }}
    </div>
    <div class="col overflow-auto h-100 py-5">
        <div id="map" style="height: 600px;"></div>
        
        {{ $gps_coords := split .Params.gps "," }}
        <script>
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
              key: "{{ .Site.Params.mapsApiKey }}",
              v: "weekly",
            });


            let map;

            async function initMap() {
                const { Map } = await google.maps.importLibrary("maps");
                const { Marker } = await google.maps.importLibrary("marker");

                map = new Map(document.getElementById("map"), {
                    center: { lat: parseFloat({{ index $gps_coords 0 }}), lng: parseFloat({{ index $gps_coords 1 }}) },
                    zoom: {{ .Params.map_zoom }},
                });


                const markers = []
                function setMarker(o) {
                    const marker = new Marker({
                        map: map,
                        position: { lat: o.lat, lng: o.lng },
                        title: o.title,
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        window.location.href = o.url;
                      });
                }

                {{ range.Pages }}
                {{ $marker_coords := split .Params.gps "," }}
                markers.push({
                    "lat": parseFloat({{ index $marker_coords 0 }}),
                    "lng": parseFloat({{ index $marker_coords 1 }}),
                    "title": {{ .Title }},
                    "url": {{ .RelPermalink }}
                })
                {{ end }}

                markers.forEach(setMarker)
            }

            initMap();
          </script>
        <div class="list-group">
        {{ range.Pages }}
        {{ partial "walk.html" (dict "page" . ) }}
        {{/*  {{ .Render "summary" }}  */}}
        {{ end }}
        </div>
    </div>
</div>
{{ end }}