{{ define "main" }}
{{ partial "spots-breadcrumb.html" . }}
<h2>{{.Title}}</h2>
<div class="d-flex mb-2">
  {{ range .Params.disciplines }}
  <div class="badge rounded-pill bg-info me-1">{{ . }}</div>
  {{ end }}
</div>
<div class="row mb-4">
    <div class="col-md-6 d-flex flex-column">
        <style>
            #nav-icons {
                background-image: url("i/nav.png");
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: 10px center;
                padding: 5px 50px 5px 80px;

            }
        </style>
        <div class="d-flex justify-content-evenly my-4 border rounded-4 bg-light" id="nav-icons">
          {{ partial "google-maps-link.html" .Params.gps }}
          {{ partial "w3w-link.html" .Params.whatThreeWords }}
          {{ partial "waze-link.html" .Params.gps }}
        </div>
        <div class="my-auto border-start my-3 ms-1 ps-2 fs-6 fw-lighter">
            <div class="d-flex flex-row p-2">
                <div class="me-2">Parking:</div>
                <div>{{ .Params.parking }}</div>
            </div>
            <div class="d-flex flex-row p-2">
                <div class="me-2">Wind directions:</div>
                <div>{{ delimit .Params.wind ", " }}</div>
            </div>
            <div class="d-flex flex-row p-2">
              <div class="me-2">Tides:</div>
              <div>{{ .Params.tides }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{ partial "google-maps-embed.html" .Params.gps }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4 fw-normal">
      {{ .Content }}
        <!-- TODO: align bottom -->
        <div class="fs-6 text-muted">
          Contribution:<br>
          {{ range .Params.contributors }}
            {{ with $.Site.GetPage (printf "/contributors/%s" .) }}
            <a href="{{ .RelPermalink }}">{{  .Title  }}</a><br>
            {{ end }}
          {{ end }}
          Last updated: {{ .Lastmod.Format "02/01/2006" }}
        </div>
    </div>
    <!-- image carousel -->
    {{ with .Resources.Match "images/*" }}
    <style>
        #img-carousel {
          background-color: black;
        }
        #img-carousel .carousel-item img,
        #img-carousel .carousel-item video {
            object-fit: contain;
            object-position: center;
            overflow: hidden;
            height: 400px;
        }
    </style>
    <div id="img-carousel" class="col-md-6 carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          {{ range $i, $img := . }}
          <button type="button" data-bs-target="#img-carousel" data-bs-slide-to="{{ $i }}" class="{{ if not $i }}active{{ end }}"></button>
          {{ end }}
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          {{ range $i, $img := . }}
          <div class="carousel-item {{ if not $i }}active{{ end }}">
            {{ if eq $img.MediaType.MainType "image" }}
            <img src="{{ $img.RelPermalink }}" class="d-block w-100">
            {{ end }}
            {{ if eq $img.MediaType.MainType "video" }}
            <!-- TODO: figure out how to align video to top? -->
            <video autoplay muted loop controls src="{{ $img.RelPermalink }}" class="d-block w-100">
                Your browser does not support the HTML5 Video element.
            </video>
            {{ end }}
          </div>
          {{ end }}
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#img-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#img-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    {{ end }}
</div>
<!-- windy widget -->
<div data-windywidget="forecast" data-thememode="white" data-spotid="{{ .Params.windySpotId }}"
    data-appid="8163101170db103cf9187b5f89bcc5fa">
</div>
<script async="true" data-cfasync="false"
    src="https://windy.app/widgets-code/forecast/windy_forecast_async.js?v1.4.6"></script>
{{ end }}