{{ define "main" }}
  <div class="row h-100">
    <div class="col-3 navbar-light bg-light">
      {{ partial "sidebar.html" . }}
    </div>
    <div class="col overflow-auto h-100 py-5">
      <h1 class="title">{{.Title}}</h1>
      <div class="content anchor-link-enabled">
        <div class="card">
          <div class="card-img-top">
            <iframe
                width="100%"
                height="350"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.mapsApiKey }}&maptype=satellite&q={{ .Params.gps }}"
                allowfullscreen>
              </iframe>
          </div>
          <div class="card-body">
            <p class="card-text"><u>Parking</u>: {{ .Params.parking }}</p>
            <p class="card-text"><u>Wind directions</u>: {{ delimit .Params.wind ", " }}</p>
            <p class="card-text"><u>Tides</u>: {{ delimit .Params.tides ", " }}</p>
            <p class="card-text">{{ delimit .Params.disciplines ", " }}</p>
          </div>
        </div>

        <div class="content" style="margin-top: 10px">{{.Content}}</div>

        {{ with .Resources.Match "images/*" }}
        <div id="myCarousel" class="container carousel slide" style="padding: 20px;">
          <div class="carousel-inner">
              {{ range $i, $img := . }}
              <div class="carousel-item {{ if not $i }}active{{ end }}">
                {{ if eq $img.MediaType.MainType "image" }}
                <img src="data:{{ $img.MediaType.Type }};base64,{{ $img.Content | base64Encode }}" class="w-100">
                {{ end }}
                {{ if eq $img.MediaType.MainType "video" }}
                <div class="ratio ratio-4x3">
                  <iframe class="embed-responsive-item" src="{{ $img.RelPermalink }}" allowfullscreen></iframe>
                </div>
                {{ end }}
              </div>
              {{ end }}
              
          
            {{/*  <div class="carousel-item active">
              <img src="/images/spots/denmark/langeland/rudkobing-roklub-01.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
              <img src="/images/spots/denmark/langeland/rudkobing-roklub-02.jpeg" class="d-block w-100">
            </div>  */}}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        {{ end }}

        <hr>
        <div class="contribution">
          {{ range .Params.contributors }}
            {{ with $.Site.GetPage (printf "/contributors/%s" .) }}
            <a href="{{ .RelPermalink }}">{{  .Title  }}</a><br>
            {{ end }}
          {{ end }}
          Last updated: {{ .Lastmod.Format "02/01/2006" }}
        </div>
      </div>
    </div>
  </div>
{{ end }}